<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <springProperty scope="context" name="commonFileNamePattern" source="logging.commonFileNamePattern"/>
    <!-- 日志最大的历史 7天 -->
    <springProperty scope="context" name="maxHistory" source="logging.maxHistory"/>

    <appender name="commonFileInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天滚 daily -->
            <fileNamePattern>${commonFileNamePattern}</fileNamePattern>
            <!-- 日志最大的历史 7天 -->
            <maxHistory>${maxHistory:-7}</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" />
    <root level="INFO">
        <appender-ref ref="commonFileInfo"/>
    </root>
</configuration>